<ion-view view-title="{{location.name}}">
  <ion-content style="background: #e8ebf1;" class="padding">
    <div class="list list-inset">
    	<label class="item item-input">
    		<i class="icon ion-search placeholder-icon">
    		</i>
    		<input type="text" placeholder="Search">
    	</label>
    </div>
    <div class="card">
    	<div class="item item-divider card-day-title">
    		Monday
    	</div>
    	<div class="item item-text-wrap">
    		This is a basic card wit some text
    	</div>
    </div>
  </ion-content>
</ion-view>
