<ion-view view-title="Today's Specials">
  <ion-content style="background: #e8ebf1;" class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <input ng-model="special.day" type="text" placeholder="Day">
      </label>
      <label class="item item-input">
        <input ng-model="special.location" type="text" placeholder="Location">
      </label>
      <label class="item item-input">
        <textarea ng-model="special.description" placeholder="Special Text">
        </textarea>
      </label>
    </div>
    <button ng-click="addItem(special)" class="button button-positive">Submit</button>
  </ion-content>
</ion-view>
