<!--
Create tabs with an icon and label, using the tabs-dark style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-striped tabs-top tabs-background-assertive tabs-color-light">

  <!-- Welcome Tab -->
  <ion-tab title="Today's Specials" icon-off="ion-ios-wineglass-outline" icon-on="ion-ios-wineglass" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Analytics Tab -->
  <ion-tab title="Days" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/days">
    <ion-nav-view name="tab-days"></ion-nav-view>
  </ion-tab>
  
  <!-- User Tab -->
  <ion-tab title="Locations" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/locations">
    <ion-nav-view name="tab-locations"></ion-nav-view>
  </ion-tab>

  

</ion-tabs>
